@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@section AdditionalMeta
{
    <meta name="robots" content="noindex"/>
}

<div class="container" style="min-height: calc(100vh - 234px);">
    <article class="over-hidden md-mar-bot">
        <!-- Company Modal -->
        <!-- /Modal -->
        <div class="row">
            <section class="inactive md-ver-spc search-info bg-ofwhite content-view over-hidden section active show-search-info txt-center">
                <div class="container">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
                    {
                        <h1 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh md-mar-bot">
                            <i class="fas fa-exclamation-circle"></i> @Html.Raw(ViewBag.Message)
                        </h1>
                    }
                    else
                    {
                        <h1 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh md-mar-bot">
                            <i class="fas fa-exclamation-circle"></i> @Html.Raw(Tameenk.LangText.error_title)
                        </h1>
                        <h2 class="txt-black txt-md">
                            @Html.Raw(Tameenk.LangText.error_description)
                            <br />
                            @{
                                if (ViewBag.ErrorCode != null)
                                {
                                    @: @Html.Raw(Tameenk.LangText.ErrorCode) : @ViewBag.ErrorCode
                                }
                            }
                        </h2>
                    }
                    <br />
                    @if (ViewBag.returnURL != null)
                    {
                        <input type="button" class="home-page_link" value="@Tameenk.LangText.checkout_back" onclick="location.href='@ViewBag.returnURL'" />
                    }
                    else
                    {
                        @Html.ActionLink(Tameenk.LangText.home_page, "Index", "Home", null, new { @class = "home-page_link" })
                    }
                </div>
            </section>
        </div>
    </article>
</div>