
@{
    ViewBag.Title = "ChangePassword";
}

@using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "frm_login_show" }))
{
    @Html.AntiForgeryToken()

    <div>
        <span style="color:red">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</span>
    </div>
    <div class="container md-mar" style="min-height: calc(100vh - 234px);">
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12">
                <h3 class="md-mar">@Html.Raw(Tameenk.LangText.password_reset_title)</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                @Html.Hidden("userId", (string)ViewBag.UserId)
                @Html.Hidden("token", (string)ViewBag.Token)
                <span class="input input--ichiro">
                    @Html.Password("Password", null, new { @class = "user-id-input input__field input__field--ichiro idnumber UserID" })
                    <label class="input__label input__label--ichiro" for="idnumber">
                        <span class="input__label-content input__label-content--ichiro">@Html.Raw(Tameenk.LangText.login_password)</span>
                    </label>
                </span>
                <h4 style="color:red;position:absolute" id="PasswordError">
                    @Html.ValidationMessage("Password")
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <span class="input input--ichiro">
                    @Html.Password("confirmNewPassword", null, new { @class = "user-id-input input__field input__field--ichiro idnumber UserID" })
                    <label class="input__label input__label--ichiro" for="idnumber">
                        <span class="input__label-content input__label-content--ichiro">@Html.Raw(Tameenk.LangText.login_password_confirm)</span>
                    </label>
                </span>
                <h4 style="color:red;position:absolute" id="confirmNewPasswordError">
                    @Html.ValidationMessage("confirmNewPassword")
                </h4>
            </div>
        </div>
        <div class="row md-mar">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <input type="submit" class="no-trans btn sm dis-block txt-white submit-continue txt-brand bg-brand-hvr txt-xs bg-gr-main  circ-rdus l-shadow" value="@Html.Raw(Tameenk.LangText.password_reset_btn)" style="    margin-bottom: 15px;" />
            </div>
        </div>
    </div>
}