@model Tameenk.Services.Profile.Component.ResetPasswordViewModel
@using Tameenk.Core.Domain.Enums;
@{
    ViewBag.Title = Tameenk.LangText.resetPassword;
}

<style>
    .input-group {
        position: relative;
        /* margin: 40px 0 20px; */
        display: inline-block;
    }

    .customInpStyle {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        /* display: block; */
        width: 300px;
        border: none;
        border-bottom: 1px solid #757575;
    }

        .customInpStyle:focus {
            outline: none;
        }

    .customLBLStyle {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        right: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .customInpStyle:focus ~ label,
    .customInpStyle:valid ~ label {
        top: -20px;
        font-size: 14px;
        color: #156494;
    }

    .bar {
        position: relative;
        display: block;
        width: auto;
    }

        .bar:before,
        .bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: #156494;
            ;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }

        .bar:before {
            right: 50%;
        }

        .bar:after {
            left: 50%;
        }

    .customInpStyle:focus ~ .bar:before,
    .customInpStyle:focus ~ .bar:after {
        width: 50%;
    }

    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        right: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    .customInpStyle:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }

    /* animations */
    @@-webkit-keyframes inputHighlighter {
        from {
            background: #156494;
            ;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @@-moz-keyframes inputHighlighter {
        from {
            background: #156494;
            ;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @@keyframes inputHighlighter {
        from {
            background: #156494;
            ;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    .submitSearchBtn {
        height: 50px;
        border-radius: 11px;
        line-height: 10px;
        margin-top: 0px;
        width: 8%;
        text-align: center;
        font-size: 14px;
        color: white;
        background: #FBA72F !important;
        margin-right: 33px;
    }

        .submitSearchBtn:hover {
            background: #ffba57 !important;
        }

    .sectionprofViewTit {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #efefef;
    }

    .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: black;
    }

    .previous {
        background-color: #ddd;
        color: white;
    }

    .next {
        background-color: #ddd;
        color: white;
    }

    .pagination {
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

        .pagination a {
            color: black;
            float: left;
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }

            .pagination a.active {
                background-color: #156495;
                color: white;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
                color: white;
            }

    a:hover {
        color: #FB9C65 !important;
    }
</style>

<section class="section profile-view min-height-vh">
    <div>
        @Html.Partial("~/Views/Home/SideBar.cshtml", EProfileSection.ResetPassword)

        <div class="content col-xs-12 col-md-9 col-lg-10 content-view active" id="resetPassword">
            <div class="pd-inside">
                <h1 class="txt-lr txt-black md-mar-bot  col-xs-12 sectionprofViewTit">
                    @Html.Raw(Tameenk.LangText.resetPassword)
                </h1>

                @if (!string.IsNullOrEmpty(Model.Message))
                {
                    var messageStyle = Model.IsSuccess ? "color:forestgreen" : "color:red";
                    var messageClass = Model.IsSuccess ? "text-success" : "text-danger";
                    <h3 class="txt-lr txt-black md-mar-bot  col-xs-10 sectionprofViewTit">
                        <span class="@messageClass" style="@messageStyle">@Model.Message</span>
                    </h3>
                }
                <div id="MyVehiclesListDiv">
                    @*@using (Html.BeginForm("ResetPassword", "Profile", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "frm_login_show" }))*@
                    @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { id = "frm_reset_password", OnComplete = "return EnableSubmitBtn()" }))
                    {
                        <div class="container md-mar" style="min-height: calc(100vh - 234px);">
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-4">
                                    <span class="input input--ichiro">
                                        @Html.Password("OldPassword", null, new { @class = "user-id-input input__field input__field--ichiro idnumber UserID" })
                                        <label class="input__label input__label--ichiro" for="idnumber">
                                            <span class="input__label-content input__label-content--ichiro">@Html.Raw(Tameenk.LangText.oldPassword)</span>
                                        </label>
                                    </span>
                                    <h4 style="color:red;position:absolute" id="OldPasswordError"> </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-4">
                                    <span class="input input--ichiro">
                                        @Html.Password("NewPassword", null, new { @class = "user-id-input input__field input__field--ichiro idnumber UserID" })
                                        <label class="input__label input__label--ichiro" for="idnumber">
                                            <span class="input__label-content input__label-content--ichiro">@Html.Raw(Tameenk.LangText.login_password)</span>
                                        </label>
                                    </span>
                                    <h4 style="color:red;position:absolute" id="NewPasswordError"> </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-4">
                                    <span class="input input--ichiro">
                                        @Html.Password("ConfirmNewPassword", null, new { @class = "user-id-input input__field input__field--ichiro idnumber UserID" })
                                        <label class="input__label input__label--ichiro" for="idnumber">
                                            <span class="input__label-content input__label-content--ichiro">@Html.Raw(Tameenk.LangText.login_password_confirm)</span>
                                        </label>
                                    </span>
                                    <h4 style="color:red;position:absolute" id="confirmNewPasswordError"> </h4>
                                </div>
                            </div>
                            @*<div class="row md-mar">
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <input type="submit" class="no-trans btn sm dis-block txt-white submit-continue txt-brand bg-brand-hvr txt-xs bg-gr-main  circ-rdus l-shadow" value="@Html.Raw(Tameenk.LangText.password_reset_btn)" style="margin-bottom: 15px;" />
                        </div>
                    </div>*@
                        </div>
                    }

                    <button id="reset_password_Submit" name="reset_password_Submit" class="no-trans btn sm dis-block txt-white submit-continue txt-brand bg-brand-hvr txt-xs bg-gr-main  circ-rdus l-shadow">@Html.Raw(Tameenk.LangText.password_reset_btn)</button>
                </div>
            </div>
            <!-- pd inside -->
        </div>
    </div>
</section>

@section scripts{
    <script>
        $("#reset_password_Submit").click(function (e) {
            if (!ValidateLogin()) {
                e.preventDefault();
                return false;
            } else {
                document.getElementById("reset_password_Submit").disabled = true;
                $("#reset_password_Submit").attr("disabled", "disabled");
                $("#frm_reset_password").submit();
            }
        })

        function ValidateLogin() {
            if ($("input[name='OldPassword']").val() == "") {
                $("#OldPasswordError").html("@Html.Raw(Tameenk.LangText.login_password_error)");
                return false;
            } else {
                $("#OldPasswordError").html("");
            }

            if ($("input[name='NewPassword']").val() == "") {
                $("#NewPasswordError").html("@Html.Raw(Tameenk.LangText.login_password_error)");
                return false;
            } else {
                $("#NewPasswordError").html("");
            }

            if ($("input[name='NewPassword']").val().length < 4) {
                $("#NewPasswordError").html("@Html.Raw(Tameenk.LangText.login_password_error1)");
                return false;
            } else {
                $("#NewPasswordError").html("");
            }

            if ($("input[name='ConfirmNewPassword']").val() == "") {
                $("#confirmNewPasswordError").html("@Html.Raw(Tameenk.LangText.login_password_error1)");
                return false;
            } else {
                $("#confirmNewPasswordError").html("");
            }

            if ($("input[name='ConfirmNewPassword']").val().length < 4) {
                $("#confirmNewPasswordError").html("@Html.Raw(Tameenk.LangText.login_password_error1)");
                return false;
            } else {
                $("#confirmNewPasswordError").html("");
            }

            if ($("input[name='NewPassword']").val() != $("input[name='ConfirmNewPassword']").val()) {
                $("#confirmNewPasswordError").html("@Html.Raw(Tameenk.LangText.password_confirm_error)");
                return false;
            } else {
                $("#confirmNewPasswordError").html("");
            }

            return true;
        }

        function EnableSubmitBtn() {
            document.getElementById("reset_password_Submit").disabled = false;
        }
    </script>
}