@model List<Tameenk.Models.Promotion.PromotionProgramModel>

<section class="inactive sm-ver-spc search-info bg-ofwhite content-view over-hidden section active show-search-info">
    <div class="container">
        <h1 style="color:#f7811c; padding-bottom: 0px;" class="txt-black txt-lr md-lh txt-right">@Html.Raw(Tameenk.LangText.promotion_programs)</h1>
        <!-- <h3 class="txt-black txt-md">@Html.Raw(Tameenk.LangText.promotion_programs) Description</h3> -->
    </div>
</section>
<section class="sm-ver-spc search-inputs section normal-page">
<div class="container">
    <div class="row clear-b promotion-main-div payments-cards">
        @if (Model != null)
        {

            foreach (var program in Model)
            {
                <div class="col-xs-12 col-md-6 col-lg-6 md-mar bx-right">
                    <article class="wrapper-bx md-mar-bot no-toggle pointer program-@program.Id" onclick="selectPromotionProgram('@program.Id');">
                        <header class="over-hidden f_width bx-right">
                            <span class="txt-sm  txt-mgray dis-block xs-mar-bot">@Html.Raw(Tameenk.LangText.program_name)</span>
                            <h2 class="txt-lr txt-black no-mar">@program.Name</h2>
                            <span class="txt-sm  txt-mgray dis-block xs-mar-bot">@Html.Raw(Tameenk.LangText.program_description)</span>
                            <h2 class="txt-lr txt-black no-mar">@program.Description</h2>
                        </header>
                    </article>
                    <div class="wrapper-bx join-@program.Id" style="display:none">
                    <div class="row">
                        <div class="col-xs-12">
                            <header class="over-hidden bx-right">
                                <h2 class="txt-lr txt-black no-mar" style="padding: 0">@program.Name</h2>
                                <span class="txt-sm  txt-mgray dis-block xs-mar-bot">@program.Description</span>
                            </header>
                            <input onclick="deselectPromotionProgram('@program.Id');" value="@Html.Raw(Tameenk.LangText.checkout_back)" class="bx-left txt-brand txt-xs txt-left" />
                        </div>
                        <div class="col-xs-12 col-md-8 bx-right">
                            <div class="input-container">
                                @if (program.IsPromoByEmail) // Email
                                {
                                    <input class="input-element" type="email" id="userInput-@program.Id" placeholder=" " />
                                    <label class="input-label" for="userInput-@program.Id">@Html.Raw(Tameenk.LangText.login_email)</label>
                                }
                                else //Code or Track Id
                                {
                                    <input class="input-element" type="text" id="userInput-@program.Id" placeholder=" " />
                                    <label class="input-label" for="userInput-@program.Id">@Html.Raw(Tameenk.LangText.program_code)</label>

                                }
                                <span class="field-error" style="color:red;position:absolute;" id="emailError-@program.Id"></span>
                            </div>
                        </div>
                        <div class="col-xs-2 bx-right" style="margin-top: 3em;">
                            <input type="submit" onclick="joinProgram('@program.Id');" id="btnSubmit-@program.Id" value="@Html.Raw(Tameenk.LangText.join)" class="no-trans btn sm dis-block txt-white submit-continue txt-brand bg-brand-hvr txt-xs bg-gr-main circ-rdus l-shadow" />
                        </div>
                    </div>
                    </div>
                </div>
            }

        }
    </div>
</div>

<div id="messageDiv" style="display:none">
    <div class="lr-mar">
        <h3 class="txt-black txt-md" id="messageSpan"></h3>
    </div>
</div>
</section>

<script>
    function selectPromotionProgram(programId) {
        $('#userInput-'+programId).val('');
        $('#emailError-'+programId).text('');
        $('.program-'+programId).slideUp(300);
        $('.join-'+programId).slideDown(300);
    }
    function deselectPromotionProgram(programId) {
        $('.join-'+programId).slideUp(300);
        $('.program-'+programId).slideDown(300);
    }

    function joinProgram(programId) {
        $('#emailError-'+programId).text('');
        $('#btnSubmit-'+programId).attr("disabled", true);
        $('html, body').css('cursor', 'progress');
        var data = {
            promotionProgramId: programId,
            userInput: $('#userInput-'+programId).val()
        };
        //console.log(data);
        $.ajax({
        url: "@Url.Action("JoinProgram", "Promotion")",
        data: data,
        type: "GET",
        datatype: "json",
            success: function(result) {
                $('html, body').css('cursor', 'default');
                $('#btnSubmit-'+programId).removeAttr("disabled");
                if (result.Success == true) {
                  //  $('#ResetEmailsuccess').css('color', '#186A9E');
                    $('#messageSpan').css('color', '#186A9E').html(result.Message);
                    $('.promotion-main-div').html($('#messageDiv').html());
                }
            else {
                $('#emailError-'+programId).text(result.Message);
            }
        },
        error: function (result) {
            $('html, body').css('cursor', 'default');
            $('#btnSubmit-'+programId).removeAttr("disabled");
            console.error(result);
        }
    });
    }
</script>